
    {% if site[page.topic]  %}

<div class="sidebar1">
  <div class="sidebar__inner1">
    <p class="sidebar__header1"> <strong> in this topic <strong></p>
      <ul class="mobile_nav_items">
        {% assign sorted = site[page.topic] | sort: 'order' %}
        {% assign sorted = sorted | where: "published", "true" %}
        {% for doc in sorted %}
        {% assign current = nil %}
          {% if page.url contains doc.url %}
              {% assign current = 'current' %}
          {% endif %}
        <li class="{{current}}"><a href="{{doc.url}}">{{doc.title}}</a>
          {% if page.url contains doc.subcollection %}
            <ul class="sidebar__items sub">
              {% assign sortedInfo = site[doc.subcollection] | sort: 'order' %}
              {% for doc in sortedInfo %}
              {% assign current = nil %}
                {% if page.url contains doc.url %}
                    {% assign current = 'current' %}
                {% endif %}
                <li class="{{current}}"><a href="{{doc.url}}">{{doc.title}}</a></li>
              {% endfor %}
            </ul>
          {% endif %}
        </li>
        {% endfor %}
      </ul>
  </div>
</div>
{% endif %}
