
  <!-- Simulate a smartphone / tablet -->
<div id="mobile_sticky" class="mobile_nav_container">

<!-- Top Navigation Menu -->
<div class="mobile_nav">
  <a href="javascript:void(0);" onclick="mobileNav()"  class="active">In this topic....</a>
  <div id="mobile_links" >
      {% include mobile_menu.html %}

  </div>
  <a href="javascript:void(0);" class="icon" onclick="mobileNav()">
    <i id="f-icon" class="fa fa-chevron-down icon-3x" aria-hidden="true"></i>
  </a>
</div>


<!-- End smartphone / tablet look -->
</div>
<!-- ****** -->
<script>
function mobileNav() {
  var nav = document.getElementById("mobile_links");
  if (nav.style.display === "block") {
    nav.style.display = "none";
  } else {

    nav.style.display = "block";
  }
//   **** toggle icons ****
 var tog = document.getElementById("f-icon");
 tog.classList.toggle("fa-chevron-circle-up");
}


// When the user scrolls the page, execute obileNav()
window.onscroll = function() {mobile_sticky();
goTosc_topFunction()};

// Get the navbar
var navbar = document.getElementById("mobile_sticky");

// Get the offset position of the navbar
var sticky = navbar.offsetTop;

function mobile_sticky() {
  if (window.pageYOffset >= sticky) {
    navbar.classList.add("sticky_nav")
  } else {
    navbar.classList.remove("sticky_nav");
  }
}



//scrolling to top function --- SM
  var go_to = 0; //
function goTop(move_up) {
    if (move_up.matches) {
        // document.body.style.backgroundColor = "yellow";
      go_to = document.getElementById("n_m");
        document.getElementById("sc_button").style.left = "0px";
    } else {
    go_to = document.getElementById("gotop");
    }
}

var move_up = window.matchMedia("(max-width: 1026px)")
goTop(move_up)
move_up.addListener(goTop)
         var off_set = go_to.offsetTop;
  //   document.getElementById("test").innerHTML = s;

// window.onscroll = function() { goTosc_topFunction() };

function goTosc_topFunction(){
    if (document.body.scrollTop > 600 || document.documentElement.scrollTop > 600) {
        document.getElementById("sc_button").style.display = "block";
    } else {
        document.getElementById("sc_button").style.display = "none";
    }
}


function sc_topFunction(){
    document.body.scrollTop = off_set;
    document.documentElement.scrollTop = off_set;
}
</script>


{% if site[page.topic]  %}

 <script>
//   mobile site/size hide side bar
$(window).resize(function(){
	if ($(window).width() <= 1026){
    $(".sidebar" ).hide();
	}
	else{
location.reload();
}

});

//main sidebar animation up/down
    $(function() {
    var footer_offset = $(".suggested").offset(); //footer offset
    var sidebar_offset = $("#sid").offset();//sidebaroff set
     var footer_position = footer_offset.top - $("#sid").outerHeight() - 30;//footer position
    var topPadding = 15;

            $(window).scroll(function() {
                if ($(window).scrollTop() > sidebar_offset.top) {
                    if(  $(window).scrollTop() < footer_position ) {
                    $("#sid").stop().animate({
                        marginTop: $(window).scrollTop() - sidebar_offset.top + topPadding
                    });

                }
                }
                else {
                    $("#sid").stop().animate({
                        marginTop: 0
                    });
                };
            });
        });



    </script>


<div id="sid" class="sidebar">
  <div class="sidebar__inner">
    <p class="sidebar__header">in this topic</p>
      <ul class="sidebar__items">
        {% assign sorted = site[page.topic] | sort: 'order' %}
        {% assign sorted = sorted | where: "published", "true" %}
        {% for doc in sorted %}
        {% assign current = nil %}
          {% if page.url contains doc.url %}
              {% assign current = 'current' %}
          {% endif %}
        <li class="{{current}}"><a href="{{doc.url}}">{{doc.title}}</a>
          {% if page.url contains doc.subcollection %}
            <ul class="sidebar__items sub">
              {% assign sortedInfo = site[doc.subcollection] | sort: 'order' %}
              {% for doc in sortedInfo %}
              {% assign current = nil %}
                {% if page.url contains doc.url %}
                    {% assign current = 'current' %}
                {% endif %}
                <li class="{{current}}"><a href="{{doc.url}}">{{doc.title}}</a></li>
              {% endfor %}
            </ul>
          {% endif %}
        </li>
        {% endfor %}
      </ul>
  </div>
</div>
{% endif %}

{% if page.custom_sidebar %}

<div class="custom_sidebar">
  <div class="sidebar__inner editable">
    <p class="sidebar__header">Kripalu Workshop</p>
      <p>May 15 - 20, 2016</p>
      <p>Sunday night - Friday morning</p>
      <p>Jim Hopper, Ph.D. & David Schouela, RYT-500</p>
      <p><a href="/services/kripalu">More info</a></p>
  </div>
</div>
{% endif %}

{% if page.show_translations %}
  {% include translations.html %}
{% endif %}

{% if page.show_repeat_rape %}
  {% include repeat_rape.html %}
{% endif %}


