
{% if site[page.topic]  %}
 <head>
 <script>
 // mobile site/size hide side bar
$(window).resize(function(){
	if ($(window).width() <= 1026){
    $(".sidebar" ).hide();
	}
	else{
location.reload();
}

});

    $(function() {
    var footer_offset = $(".suggested").offset(); //footer offset
    var sidebar_offset = $("#sid").offset();//sidebaroff set
     var footer_position = footer_offset.top - $("#sid").outerHeight() - 30;//footer position
    var topPadding = 15;

            $(window).scroll(function() {
                if ($(window).scrollTop() > sidebar_offset.top) {
                    if(  $(window).scrollTop() < footer_position ) {
                    $("#sid").stop().animate({
                        marginTop: $(window).scrollTop() - sidebar_offset.top + topPadding
                    });

                }
                }
                else {
                    $("#sid").stop().animate({
                        marginTop: 0
                    });
                };
            });
        });
// ************* move******

         $(function() {
            var offset2 = $("#hotlines").offset();
            var topPadding2 = 30;
            $(window).scroll(function() {
                if ($(window).scrollTop() > offset2.top) {

                    $("#hotlines").stop().animate({
                     marginTop: 0
                    });
                } else {
                    $("#hotlines").stop().animate({
                        marginTop: 0
                    });
                };
            });

        });


     //     Sidebar hovereffects.. sm
   //    $( ".sidebar__items li" ).hover(
//   function() {
//     $( this ).append( $( "<i class='fa fa-globe fa-spin fa-1x fa-fw'></i>") );
//
//   }, function() {
//     $( this ).find( "i:last" ).remove();
//   }
// );
//
// $( "li.fade" ).hover(function() {
//   $( this ).fadeOut( 100 );
//   $( this ).fadeIn( 500 );
// });


    </script>
    </head>

<div id="sid" class="sidebar">
  <div class="sidebar__inner">
    <p class="sidebar__header">in this topic</p>
      <ul class="sidebar__items">
        {% assign sorted = site[page.topic] | sort: 'order' %}
        {% assign sorted = sorted | where: "published", "true" %}
        {% for doc in sorted %}
        {% assign current = nil %}
          {% if page.url contains doc.url %}
              {% assign current = 'current' %}
          {% endif %}
        <li class="{{current}}"><a href="{{doc.url}}">{{doc.title}}</a>
          {% if page.url contains doc.subcollection %}
            <ul class="sidebar__items sub">
              {% assign sortedInfo = site[doc.subcollection] | sort: 'order' %}
              {% for doc in sortedInfo %}
              {% assign current = nil %}
                {% if page.url contains doc.url %}
                    {% assign current = 'current' %}
                {% endif %}
                <li class="{{current}}"><a href="{{doc.url}}">{{doc.title}}</a></li>
              {% endfor %}
            </ul>
          {% endif %}
        </li>
        {% endfor %}
      </ul>
  </div>
</div>
{% endif %}

{% if page.custom_sidebar %}

<div class="custom_sidebar">
  <div class="sidebar__inner editable">
    <p class="sidebar__header">Kripalu Workshop</p>
      <p>May 15 - 20, 2016</p>
      <p>Sunday night - Friday morning</p>
      <p>Jim Hopper, Ph.D. & David Schouela, RYT-500</p>
      <p><a href="/services/kripalu">More info</a></p>
  </div>
</div>
{% endif %}

{% if page.show_translations %}
  {% include translations.html %}
{% endif %}

{% if page.show_repeat_rape %}
  {% include repeat_rape.html %}
{% endif %}



{% if page.hotlines_sidebar == true %}
  {% include hotlines.html %}
{% endif %}


<script>

$('#help_line .help_toggle').click(function(){
    $("#f").removeClass("fa-question-circle-o");
         $("#f").addClass("fa-times");
			var div = $('#help_line');
			if (div.css('right') === '-265px') {
				$('#help_line').animate({
					right: '0'

				});
				$(this).toggleClass('active');
				$('#help_line .help_toggle').animate({
				top: "-41px",
				left: "0px"

				});




			} else {
				$('#help_line').animate({
					right: '-265px'

				});
				$('#help_line .help_toggle').animate({
				top: "0",
				left: "-112px"

				});
			  $("#f").addClass("fa-question-circle-o");
				$(this).toggleClass('active');

			}
			return false;
		});


</script>
