
<div id="sid_2" class="sidebar">
  <div class="sidebar__inner">
    <p class="sidebar__header">TRANSLATIONS</p>
      <ul class="sidebar__items">
        {% for item in site.data.sexual-assault-translations %}
        <li class="{{current}}"><a href="/sexual-assault-and-the-brain/{{item.link}}">{{item.language}}</a></li>
        {% endfor %}
      </ul>
  </div>
</div>

<!--
<script>
//add active class
$(function(){
    var current = location.pathname;
    $(' ul.sidebar__items li a').each(function(){
        var $this = $(this);

        if($this.attr('href').indexOf(current) !== -1){
            $this.addClass('cc-active');
        }
    })
})
</script>
 -->
<script>
    $(function() {
    var footer_offset = $(".suggested").offset(); //footer offset
    var sidebar_offset = $("#sid_2").offset();//sidebaroff set
     var footer_position = footer_offset.top - $("#sid_2").outerHeight() - 30;//footer position
    var topPadding = 15;

            $(window).scroll(function() {
                if ($(window).scrollTop() > sidebar_offset.top) {
                    if(  $(window).scrollTop() < footer_position ) {
                    $("#sid_2").stop().animate({
                        marginTop: $(window).scrollTop() - sidebar_offset.top + topPadding
                    });

                }
                }
                else {
                    $("#sid_2").stop().animate({
                        marginTop: 0
                    });
                };
            });
        });
</script>
